{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}Upload{% endblock %}

{% block additional_styles %}

{% endblock %}

{% block content %}

    <div class="section" style=" background-image: url({% static 'img/background.png' %}); background-position: top center; min-height: 700px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="card card-signup">
                        <form class="form upload-form" role="form" method="post" action="{% url "main:upload" %}" enctype="multipart/form-data">

                            {% csrf_token %}

                            <div class="header header-info text-center">
                                <h4>UPLOAD</h4>
                                <div class="social-line">
                                    <a href="https://www.facebook.com/openalpr" class="btn btn-simple btn-just-icon">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                    <a href="https://twitter.com/openalpr" class="btn btn-simple btn-just-icon">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="https://www.linkedin.com/company/10472650/" class="btn btn-simple btn-just-icon">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>

                            <p class="text-divider">Please upload CSV.</p>

                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <p class="text-divider">
                                        </p>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <p class="text-divider">
                                        <div class="alert alert-danger">
                                            <div class="container-fluid">
                                                <div class="alert-icon">
                                                    <i class="material-icons">error_outline</i>
                                                </div>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true"><i class="material-icons">clear</i></span>
                                                </button>
                                                <b>Error:</b> {{ error|escape }}
                                            </div>
                                        </div>
                                    </p>
                                {% endfor %}
                            {% endif %}

                            <div class="content">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">file_upload</i>
                                                <p>{{ form.non_field_errors }}</p>
                                                <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <p>
                                                    {{ form.docfile.errors }}
                                                    {{ form.docfile }}
                                                </p>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                {% render_field form.next_ %}

                            </div>


                            <div class="footer text-center">
                                <button type="submit" name="upload" id="upload-submit" tabindex="4" class="btn btn-primary" value="Upload" style="margin-top: 50px; margin-bottom: 25px;">Upload InputFile</button>
{#                                <a href="{% url 'main:crawl' %}">#}
{#                                    <button type="button" url="crawl", id="start-button" tabindex="4" class="btn btn-primary" value="StartCrawl" style="margin-top: 50px; margin-bottom: 25px;">Start Crawl</button>#}
{#                                </a>#}
                            </div>

                        </form>
                        <form class="form crawl-form" role="form" method="post" action="{% url "main:crawl" %}">
                            {% csrf_token %}
                            <div class="footer text-center">
                                <button type="submit" id="start-button" class="btn btn-primary" value="crawl" style="margin-top: 50px; margin-bottom: 25px;">Start Crawl</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block additional_scripts %}

{% endblock %}